<header style="background-color: #e8dcd8; border-bottom: none;">
  <nav class="navbar navbar-expand-lg" style="background-color: transparent !important;">
    <div class="container">
      <a class="navbar-brand" href="/" style="color: #5a5a5a; font-weight: bold; font-size: 1.3rem; letter-spacing: 2px;">PD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" style="color: #5a5a5a; font-weight: 500;">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/treatments" style="color: #5a5a5a; font-weight: 500;">BEHANDELINGEN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/info" style="color: #5a5a5a; font-weight: 500;">INFO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact" style="color: #5a5a5a; font-weight: 500;">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
