<header class="navbar-header">
  <nav class="navbar-main">
    <div class="navbar-container">

      <a href="/" class="navbar-logo">
        <img src="/assets/logo/logo.svg" alt="Para Doux Logo" class="navbar-logo-img">
      </a>    

      <div class="hamburger" id="hamburgerMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul class="navbar-nav" id="navbarNav">
        <li class="nav-item">
          <a class="nav-link {{#if isHome}}active{{/if}}" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if isTreatments}}active{{/if}}" href="/treatments">BEHANDELINGEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if isInfo}}active{{/if}}" href="/info">INFO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if isContact}}active{{/if}}" href="/contact">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="btn boek-nu" href="https://gespecialiseerd-voetverzorger-marie-everaert.salonized.com/widget_bookings/new">Boek nu</a>
        </li>
      </ul>

    </div>
  </nav>
</header>
