<!-- Hero Section -->
<section class="hero">
  <!-- Video achtergrond -->
  <video class="hero-video" autoplay muted loop playsinline>
    <source src="/assets/video/Websitevideo_paradoux.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!-- Hero content -->
  <div class="hero-content">
    <img 
      src="/assets/logo/logo-long.svg" 
      alt="Para'Doux Logo" 
      class="hero-logo"
    >
    <p>Waar Zorg En Expertise Samenkomen</p>
    <a href="/treatments" class="btn-primary">Boek nu</a>
  </div>
</section>

<!-- Treatment Section -->
<section class="treatments-section">
  <div class="container">

    <!-- Treatment 1 -->
    <div class="treatment-row">
      <div class="treatment-text">
        <h2>GESPECIALISEERDE<br>VOETVERZORGING</h2>
        <p>
         Een volledige verzorging vand e voeten, waarbij huid- en nagelaandoeningen zorgvuldig worden behandeld en persoonlijk advies wordt gegeven.
         De aandoeningen kunnen onder andere zijn: eelt, kloven, likdoorns, schimmelnagels, ingegroeide teennagels...
        </p>
        <a href="/treatments" class="btn-primary">Boek nu</a>
      </div>

      <div class="treatment-image">
        <img src="/assets/images/Para'doux-208.jpg" alt="Voetverzorging">
      </div>
    </div>

    <!-- Treatment 2 -->
    <div class="treatment-row reverse">
      <div class="treatment-text text-right">
        <h2>MANICURE</h2>
        <p>
          Met een manicure krijgen je handen en nagels een
          verzorgde uitstraling. Ik verzorg je nagels en nagelriemen en werk af met een natuurlijke of stijlvolle look.
        </p>
        <a href="/treatments" class="btn-primary">Boek nu</a>
      </div>
      <div class="treatment-image">
        <img src="/assets/images/Para'doux-198.jpg" alt="Manicure">
      </div>
    </div>

  </div>
</section>

<!-- All Treatments Button -->
<section class="all-treatments">
  <a href="/treatments" class="btn-primary">Ontdek alle behandelingen</a>
</section>
