/* ==============================
   FONTS
================================ */

/* INTER */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* CORMORANT GARAMOND */
@font-face {
  font-family: 'Cormorant';
  src: url('/assets/fonts/CormorantGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Inter', sans-serif;
}

h2 {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 3rem);
}

h3 {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: clamp(1.8rem, 4vw, 2rem);
}


/* ========== BUTTONS ========== */

.btn-primary {
  background-color: #B96D5F;
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0.3rem 2rem;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
}

.btn-primary:hover {
  opacity: 0.75;
}

.btn-primary.large {
  padding: 1rem 2.5rem;
  font-weight: 300;
  font-size: 1.3rem;
  font-weight: 500;
}